$clr-primary: hsl(176, 50%, 47%);
$clr-primary-dark: hsl(176, 72%, 28%);
$clr-neutral: hsl(0, 0%, 48%);
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-300: hsl(0, 0%, 96%);
$clr-neutral-350: hsl(0, 0%, 84%);
$clr-neutral-200: hsl(0, 0%, 98%);
$clr-neutral-dark: hsl(0, 0%, 0%);

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$break-points: (
  "sm": 640px,
  "lg": 1024px,
);
