@use "../abstracts" as *;

dialog {
  position: absolute;
  margin-inline: auto;
  inset: 15% 1.5em;
  border: none;
  border-radius: 0.5em;
  color: inherit;

  &::backdrop {
    background-color: $var-clr-neutral-dark;
    opacity: 0.5;
  }
}
